<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="stage" source="spring.profiles.active"/>
    <springProperty scope="context" name="service_name" source="terminal"/>
    <springProfile name="prod">
        <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>
        <logger name="jsonLogger" additivity="false" level="DEBUG">
            <appender-ref ref="consoleAppender"/>
        </logger>
    </springProfile>

    <springProfile name="default,testDef">
        <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%highlight(%-5level) %d{HH:mm:ss} %yellow(%-40.40logger{39}) %highlight(%class{0}:%line) %msg%n</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
    </root>

</configuration>
