<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 全局地开启或关闭配置文件中的所有映射器已经配置的任何缓存。 -->
		<setting name="cacheEnabled" value="true" />
		<!-- 设置超时时间，它决定驱动等待数据库响应的秒数。 -->
		<setting name="defaultStatementTimeout" value="3000" />
		<!-- 是否开启自动驼峰命名规则（camel case）映射，即从经典数据库列名 A_COLUMN 到经典 Java 属性名 aColumn 
			的类似映射。 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- 允许 JDBC 支持自动生成主键 -->
		<setting name="useGeneratedKeys" value="true" />
	</settings>
<typeHandlers>  
    <typeHandler handler="org.apache.ibatis.type.InstantTypeHandler" />  
    <typeHandler handler="org.apache.ibatis.type.LocalDateTimeTypeHandler" />  
    <typeHandler handler="org.apache.ibatis.type.LocalDateTypeHandler" />  
    <typeHandler handler="org.apache.ibatis.type.LocalTimeTypeHandler" />  
    <typeHandler handler="org.apache.ibatis.type.OffsetDateTimeTypeHandler" />  
    <typeHandler handler="org.apache.ibatis.type.OffsetTimeTypeHandler" />  
    <typeHandler handler="org.apache.ibatis.type.ZonedDateTimeTypeHandler" />  
</typeHandlers>  
</configuration>