<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<!-- Bootstrap core CSS -->
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/starter-template.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../css/form-validation.css" rel="stylesheet">
<link href="../css/bootstrap-table.min.css" rel="stylesheet">
<link href="../css/fileinput.css" media="all" rel="stylesheet"
	type="text/css" />
<title>导出模板</title>
<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>

<script type="text/javascript" src="../js/bootstrap-table.min.js"></script>

<script type="text/javascript" src="../js/vendor/popper.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script src="../js/fileinput.js" type="text/javascript"></script>

<script type="text/javascript">
	
	$(document).ready(function() {
		$('#nav').load('navbar');
		$('#footer').load('footer');

	});

</script>

</head>
<body class="bg-light">
	<div id="nav"></div>
	<div class="container">
		<div class="py-3 text-center">
				<h4 class="mb-3">导出模板</h4>
		</div>

		<div class="row">

			<div class="col-md-8 order-md-1" style="margin-left:12%">
					<div class="col-md-8 order-md-1 " th:if="${errorMsg}">
						<a class="errors" th:text="${errorMsg}"></a>
					</div>
					<div class="col-md-8 order-md-1 " th:if="${successMsg}">
						<a class="success" th:text="${successMsg}"></a>
					</div>
					<p></p>
				<form class="needs-validation" action="template" method="post" th:object="${entity}">
					<input type="hidden" id="primary_key" name="id" th:value="*{id}" >
					<div class="mb-3">
						<label for="username">文件类型</label>
						<div class="input-group">
							<select
								class="custom-select d-block w-100" id="file_suffix" name="file_suffix" th:field="${entity.file_suffix}" th:value="${entity.file_suffix}" required>
								<option value="">选择...</option>
								<option value="xls" th:selected="${entity.file_suffix == 'xls'}">.xls</option>
								<option value="xlsx" th:selected="${entity.file_suffix == 'xlsx'}">.xlsx</option>
							</select>
							<div class="invalid-feedback" style="width: 100%;">文件类型是必需的.</div>
						</div>
					</div>

					<hr class="mb-4">
					<button class="btn btn-primary btn-lg btn-block" type="submit">保存</button>
				</form>
			</div>
		</div>


		<div id="footer"></div>

	</div>

</body>
</html>